<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{$title}</title>
		<style type="text/css">

			.btn-link{
				background: #890000;
				padding: 8px 20px;
				border-radius: 10px;
				color: #fff;
				text-align: center;
			}

			.parrafo{
				font-size: 
			}			

		</style>

	</head>

	<body style="background: #ddd;">
		<div style="width: 90%;border: 10px solid #eee; background: #fff; margin: 30px auto;"> 
			<header style="background: #890000; min-height: 180px; position: relative; width: 100%; text-align: center; top: 0; margin:0; padding: 20px 0; border: 1px solid #eee; ">
				<H1><img src="{$logo}"></H1>
			</header>

			<h1 style="text-align: center; margin-top: 30px;">{$contact_subject}</h1>
			<hr style="width: 80%; text-align: center;">

			<div  style="width: 90%; margin-left: 5%; line-height: 36px; font-size: 24px; margin-top: 30px;">
				{$content}
				<p style="text-align: center;">{$send_date}</p>
			</div>
		</div>
	</body>
</html>