<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Contacto</title>
</head>

<body>
<table width="800" border="0" cellspacing="0" cellpadding="5">
	<tr>
		<td colspan="2"><h2>{$contact_subject}</h2><hr /></td>
	</tr>
	<tr>
		<td colspan="2" bgcolor="#CCCCCC">Mensaje enviado en fecha: {$send_date}</td>
	</tr>
	<tr>
		<td width="155" align="right"><strong>Nombres:</strong></td>
		<td width="625">{$nombres}</td>
	</tr>
	<tr>
		<td align="right"><strong>Teléfono:</strong></td>
		<td>{$telefono}</td>
	</tr>
	
	<tr>
		<td align="right"><strong>E-mail:</strong></td>
		<td>{$email}</td>
	</tr>
		
	<tr>
		<td align="right" valign="top"><strong>Mensaje</strong></td>
		<td align="left" valign="top">{$mensaje}</td>
	</tr>
	<tr align="left" valign="top">
		<td colspan="2" align="left" valign="top"><hr /></td>
	</tr>
</table>
</body>
</html>
